
h1{
    color: blue;
    text-shadow: 4px 4px  gold;
    background: red;
}
#show_sketch{
    float:right;
}

canvas{
    border:5px solid red;
    border-radius: 20px;
    margin-top: 150px;
    animation-name: RGB;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes RGB{
    from{box-shadow: 1px 1px 38px rgb(255, 0, 0);}
    to{box-shadow: 1px 1px 38px rgb(252, 248, 248);}
}